{
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "eslint:recommended",
    "plugin:prettier/recommended"
  ],
  "env": {
    "browser": true,
    "jest": true,
    "node": true
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },

    "import/resolver": {
      "node": true,
      "typescript": {},
      "alias": {
        "map": [
          ["atoms", "./src/components/atoms/"],
          ["molecules", "./src/components/molecules/"],
          ["organisms", "./src/components/organisms/"],
          ["templates", "./src/components/templates/"],
          ["pages", "./src/components/pages/"]
        ],
        "extensions": [".ts", ".js", ".tsx", ".json"]
      }
    },
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": 2018, // Allows for the parsing of modern ECMAScript features
    "sourceType": "module", // Allows for the use of imports
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["wrong-name"],
  "rules": {
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "prettier/prettier": ["error", {
      "endOfLine": "auto"
    }],
    "react/jsx-props-no-spreading": "off",
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["error"],
    "import/no-extraneous-dependencies": 0,
    "object-curly-spacing": [1, "always", { "objectsInObjects": true }],
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/no-explicit-any": "error",
    "react/display-name": 0,
    "no-bitwise": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".ts", ".tsx", ".jsx"] }],
    "react/prop-types": 0,
    "react/prefer-stateless-function": 0,
    "react/no-array-index-key": 0,
    "react/jsx-wrap-multilines": 0,
    "react/jsx-one-expression-per-line": 0,
    "comma-dangle": 0,
    "import/prefer-default-export": 0,
    "import/no-cycle": 0,
    "no-shadow": 0,
    "no-plusplus": 0,
    "prefer-destructuring": 0,
    "no-await-in-loop": 0,
    "global-require": 0,
    "no-continue": 0,
    "no-param-reassign": 0,
    "no-nested-ternary": 0,
    "no-case-declarations": 0,
    "no-underscore-dangle": 0,
    "react/require-default-props": 0,
    "react/sort-comp": 0,
    "react/no-unused-prop-types": 0,
    "react/default-props-match-prop-types": 0,
    "no-restricted-properties": 0,
    "no-restricted-syntax": 0,
    "@typescript-eslint/no-extra-semi": 0,
    "@typescript-eslint/ban-types": 0,
    "import/no-named-as-default": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "wrong-name/wrong-name": [
      1,
      {
        "patterns": ["data$", "[Ii]tem$", "[Ee]lem", "^[^ixvydjk_]$"],
        "accepted": [
          "^h[1-6]$",
          "^authData$",
          "^apiData$",
          "^coreData$",
          "^tradeData$",
          "[Ii]nterface[Ee]lement",
          "^tradeHistoryData$",
          "^Item$",
          "^data$",
          "^.*[cC]hartData$",
          "^MotionElement$"
        ]
      }
    ]
  },
  "parser": "@typescript-eslint/parser"
}
